.DS_Store
.vscode

.bloop
.metals
metals.sbt

*.class
*.log

project/project
project/target

/target
jvm/target
shared/target
js/target

node_modules

package*.json

TODO.md

.bsp
.idea

.z3-trace
playground

data